.container {
  padding: 0 2rem;
  font-family: 'Roboto Mono';
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  /* justify-items: center; */
}
  
.card {
  margin: 1rem;
  padding-left: 8%;
  text-align: left;
  color: inherit;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 80%;
}