.container {
  /* padding: 0 2rem; */
  padding-top: 3%;
  padding-bottom: 3%;
}

.kinititle {
  font-family: "Cormorant";
  font-style: italic;
  font-size: 30px;
  color: #0857C3;
  font-weight: 700;
  padding-left: 20%;
}

.aboutcols {
  float: left;
  width: 18%;
}

/* container for about columns */
.aboutcolscont {
  padding-left: 20%;
}

.aboutcolscont:after {
  clear: both;
  display: table;
  content: "";
}

.abouttitle {
  font-family: "Roboto Mono";
  font-size: 18px;
  font-weight: 700;
}

.aboutdescription {
  font-family: "Chivo";
  font-size: 15px;
  font-weight: 400;
  line-height: 150%;
}

.sectiontitle {
  font-family: "Cormorant";
  font-style: italic;
  font-size: 20px;
  color: #0857C3;
  font-weight: 700;
  padding-left: 20%;
}

.sectiontext {
  font-family: "Chivo";
  font-size: 15px;
  padding-left: 20%;
  padding-right: 20%;
  line-height: 200%;
}

.bolded {
  font-weight: 700; 
}

.buttoncontainer {
  padding-left: 20%;
  padding-bottom: 1.5%;
  padding-top: 1%;
}

.sitebutton {
  padding: 12px 30px;
  font-size: 15px;
  cursor: pointer;
  font-family: "Roboto Mono";
  font-weight: 600;
  background-color: #f2f2f2;
  color: #0857C3;
  border: 1px solid #0857C3;
  border-radius: 5px; 
  box-shadow: 5px 5px #0857C3;
  transition: background-color 0.5s;
}

.sitebutton:hover {
  padding: 12px 30px;
  font-size: 15px;
  cursor: pointer;
  font-family: "Roboto Mono";
  font-weight: 600;
  background-color: #0857C3;
  color: white;
  border: 1px solid #0857C3;
  border-radius: 5px; 
  box-shadow: 5px 5px #d1dceb;
}

.breakline {
  display: flex;
  flex: 1;
  /* padding: 2rem 0; */
  border-top: 1px solid black;
  margin: 2% 20% 2% 20%;
}

.bluecontainer {
  background-color: #D1DCEB;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

.problemstatementtitle {
  font-family: "Roboto Mono";
  font-size: 18px;
  font-weight: 700;
  padding-left: 20%;
}

.problemstatements {
  font-family: "Chivo";
  font-size: 16px;
  padding-left: 20%;
  padding-right: 20%;
  line-height: 250%;
}

.pluspoint {
  font-family: "Chivo";
  font-weight: 700;
  font-size: 16px;
  padding-left: 20%;
  padding-right: 20%;
  line-height: 200%;
  margin-top: -0.5%;
  padding-bottom: 0.3%;
}

.mark {
  background-color: #D1DCEB;
}

.subsectiontitle {
  font-family: "Cormorant";
  font-style: italic;
  font-size: 18px;
  color: #0857C3;
  font-weight: 700;
  padding-left: 20%;
}

.twocol {
  float: left;
  width: 40%;
  padding-right: 10%;
}

/* container for about columns */
.twocolcont {
  padding-left: 20%;
}

.twocolcont:after {
  clear: both;
  display: table;
  content: "";
}

.examplesdescription {
  font-family: "Chivo";
  font-size: 15px;
  font-weight: 400;
  line-height: 200%;
  margin-top: 0%;
}

.backbutton {
  font-family: "Roboto Mono";
  font-size: 25px;
  text-decoration: underline;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 1%;
}

.backbutton:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
  color:#0857C3;
}

.quote {
  font-family: "Chivo";
  font-size: 19px;
  text-align: center;
  line-height: 200%;
}

.quotations {
  font-size: 30px;
  color: #0857C3;
}

.caption {
  font-size: 13px;
  font-style: italic;
  font-family: "Chivo";
  line-height: 200%;
}

.categoriesmain {
  font-size: 18px;
  font-family: "Chivo";
  line-height: 200%;
  font-weight: 700;
  margin-top: -2%;
}

.categories {
  font-size: 15px;
  font-family: "Chivo";
  line-height: 200%;
}